body {
  background-color: #f1f1f1;
}

.app {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: 5vh 10vh 0;
  max-height: 90vh;
  font-size: 20px;
  box-shadow: 0px 2px 8px #989898;
  background-color: white;
}
.app > header {
  background-color: gray;
  color: white;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-basis: 100%;
}

.content header {
  text-transform: uppercase;
  text-align: center;
  line-height: 2;
  border-bottom: 2px solid gray;
}

.content .column {
  flex: 1;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  display: flex;
  flex-direction: column;
}

.content .column:first-child {
  border-left: 0;
}

.content .column:last-child {
  border-right: 0;
}
